@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;1,200;1,400;1,500;1,600;1,700&display=swap');

:root {
    --clr-light: #6A7280;
    --clr-white: #fff;

    --btn-primary: #101727;
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
    font-family: 'Poppins', sans-serif;
    background: #efefef;
    font-weight: 400;
}



.card {
    max-width: 500px;
    margin-inline: auto;
    margin-block: 7rem;
    padding: 2rem;
    background: var(--clr-white);
    border-radius: 2rem;
    text-align: center;
}

.card>span {
    color: var(--clr-light);
}

form {
    display: flex;
    flex-direction: column;
}

form>input {
    font-size: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid var(--clr-light);
    margin-top: 1rem;
}

form>p {
    color: var(--clr-light);
    text-decoration: underline;
}

.btn {
    padding: .5rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    cursor: pointer;
    margin-block: .5rem 1rem;
}

.btn-primary {
    background: var(--btn-primary);
    color: var(--clr-white);
}


.link>span {
    color: #000;
    text-decoration: underline;
}